:root {
    --lite-gray: #fafafa;
    --hover-color: #36acd0;
    --ebony: #000;
    --white: #fff;
}

/* base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    padding-top: 4rem;
}

h1,
h2,
h3,
.p,
.nav-items {
    text-transform: uppercase;
}

.name,
h5 {
    text-transform: capitalize;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--ebony);
}

img {
    max-width: 100%;
    margin: 2rem 0;
}

h3 {
    margin-bottom: 1rem;
}

section {
    padding: 3rem 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#profile,
#header,
#footer {
    background-color: var(--lite-gray);
}

#profile,
#header,
#footer,
#portfolio {
    text-align: center;
}

.d-none {
    display: none;
}

/* base styles end */

/* header */
.nav-items {
    margin-top: 1rem;
}

.nav-item {
    background-color: white;
    margin: 0 0 .8rem 0;
}

#header .nav-item:nth-child(3) {
    margin-bottom: 0;
}

.nav-link {
    display: block;
    padding: 1rem 0;
    color: black;
    font-weight: 900;
}

.nav-link:hover {
    color: var(--hover-color);
}

/* header end */

/* protfolio */


.lg-grid{
    padding: 3rem;
}

.lg-grid div{
    padding-bottom: 2rem;
}

.portfolio-title{
    padding-top: 2rem;
    font-weight: 600;
}

.port-name{
    font-weight: 400;
}
/* protfolio end */

/* footer */
#footer {
    padding-top: 4rem;
}

.footer-text {
    padding-bottom: 1.7rem;
    max-width: 500px;
    margin: 0 auto;
}

.footer-contact {
    padding: .6rem 0;

}

.footer-contact-details {
    padding: 0 0 1rem 1rem;
    font-weight: bold;
}

.footer-contact-info {
    padding-bottom: 2.5rem;
}

.footer-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.footer-extra .nav-link {
    font-weight: 600;
    font-size: .8rem;
}

.p {
    padding: 1rem 0 1rem 0;
}

.p a:hover {
    color: var(--hover-color);
}

/* footer end */

/* Media Queries */
@media (min-width: 768px) {
    .flex {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        background-color: transparent;
        display: inline-block;
        padding: 0 1rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .profile-img {
        margin-top: 0;
        width: 300px;
        order: 2;
    }

    .profile-text {
        padding: 0 1rem 1rem 0;
        text-align: left;
    }

    .profile-item {
        align-self: start;
    }

    .footer-extra {
        flex-direction: row;
        padding: 0;
    }

    .d-md-block {
        display: block;
    }

    .d-md-none {
        display: none;
    }

    .footer-extra,
    .nav-items,
    .nav-item {
        margin-top: 0;
    }

    .footer-extra .nav-item:nth-child(3) {
        padding-right: 0;
    }

    .footer-text {

        margin: 0 auto;
    }

}

@media (min-width: 1024px) {

    body{
        background: var(--lite-gray);
    }

    #portfolio{
        background: var(--white);
        width: 97%;
        margin: 0 auto;
    }

    .flex {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #header .nav-item:nth-child(3) {
        margin-bottom: 0.8rem;
    }

    .nav-items {
        display: flex;
        align-items: center;
    }

    .nav-item,
    .nav-items {
        margin-top: 0;
    }

    .profile-flex {
        display: flex;
        justify-content: space-between;
    }

    .profile-text {
        max-width: 600px;

    }

    .lg-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

/* Media Queries end */